<nav>
    <a href="/">Home</a>
    <% if (typeof user !=='undefined' && user) { %>
        <a href="/recipes">View my Recipes</a>
        <a href="/sign-out">Sign Out</a>
        <% } else { %>
            <a href="/sign-in">Sign In</a>
            <a href="/sign-up">Sign Up</a>
            <% } %>
</nav>